@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	padding-top: 50px;
	justify-content: center;
	font-family: "Poppins", sans-serif;
	background-color: var(--bg-gray);
	color: #9baacf;
}

:root {
	--shadow-white: white;
	--shadow-gray: #c8d0e7;
	--bg-gray: #e4ebf5;
	--text-purple: #5f27cd;
	--text-pink: #fc427b;
}

.tabs {
	width: 90%;
}

.tabs .tabs--nav {
	position: relative;
	display: inline-flex;
	align-items: center;
	padding: 10px;
	box-shadow: 1rem 0.3rem 0.6rem -0.6rem var(--shadow-gray),
		-0.2rem -0.2rem 0.5rem var(--shadow-white);
	border-radius: 1rem 1rem 0 0;
	background-color: var(--bg-gray);
}

.tabs .tabs--nav span {
	padding: 15px;
	display: block;
	transition-delay: 0s;
	transition-duration: 0.5s;
	border-radius: 0.75rem;
	cursor: pointer;
}

.tabs .tabs--nav span.wait-animation {
	pointer-events: none;
}

.tabs .tabs--nav span:not(:first-of-type):not(:last-of-type) {
	margin: 0 10px;
}

.tabs .tabs--nav span.active {
	color: var(--text-purple);
	transition-delay: 0.25s;
	transition-duration: 0.5s;
}

.tabs .tabs--nav span:not(.active):hover {
	/* 	box-shadow: inset 0.15em 0.15em 0.15em var(--shadow-white),
		inset -0.15em -0.15em 0.15em var(--shadow-gray),
		0.3rem 0.3rem 0.6rem var(--shadow-gray),
		-0.3rem -0rem 0.6rem var(--shadow-white); */
	box-shadow: inset 0.2rem 0.2rem 0.5rem var(--shadow-gray),
		inset -0.2rem -0.2rem 0.5rem var(--shadow-white);
}

.tabs .tabs--nav .tabs--fx {
	position: absolute;
	/* 	box-shadow: inset 0.2rem 0.2rem 0.5rem var(--shadow-gray),
		inset -0.2rem -0.2rem 0.5rem var(--shadow-white); */
	box-shadow: inset 0.15em 0.15em 0.15em var(--shadow-white),
		inset -0.15em -0.15em 0.15em var(--shadow-gray),
		0.3rem 0.3rem 0.6rem var(--shadow-gray),
		-0.3rem -0rem 0.6rem var(--shadow-white);
	border-radius: 0.75rem;
	opacity: 0;
}

.tabs .tabs--content {
	padding: 20px;
	box-shadow: 0.3rem 0.3rem 0.6rem var(--shadow-gray),
		-0.2rem -0.2rem 0.5rem var(--shadow-white);
	border-radius: 0 1rem 1rem 1rem;
	background-color: var(--bg-gray);
}

.tabs .tabs--content h2 {
	color: var(--text-purple);
}

.social-media {
	position: fixed;
	bottom: 15px;
	right: 15px;
	display: flex;
}

.social-media>* {
	width: 60px;
	height: 60px;
	background-color: var(--bg-gray);
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	font-size: 24px;
	box-shadow: inset 0.15em 0.15em 0.15em var(--shadow-white),
		inset -0.15em -0.15em 0.15em var(--shadow-gray),
		0.3rem 0.3rem 0.6rem var(--shadow-gray),
		-0.3rem -0rem 0.6rem var(--shadow-white);
	border-radius: 50%;
	margin: 5px;
	transition: 0.3s;
}

.social-media>*:hover {
	transform: translateY(-5px);
}

.fa-twitter {
	color: #19a9dd;
}

.fa-github,
.fa-codepen {
	color: #010101;
}

.fa-linkedin {
	color: #19a9dd;
}

.fa-instagram {
	color: #ff0066;
}

.flex-container {
	display: flex;
	flex-direction: row;
}

.flex-item-left {
	flex: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-item-right {
	flex: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container p {
	font-size: 3rem;
	font-weight: normal;
	color: var(--text-pink);
	overflow: hidden;
}

.container p span.typed-text {
	font-size: 3rem;
	font-weight: normal;
	color: var(--text-pink);
}

.container p span.cursor {
	display: inline-block;
	margin-left: 0.1rem;
	width: 3px;
	animation: blink 1s infinite;
}

.container p span.cursor.typing {
	animation: none;
}

@keyframes blink {
	0% {
		background-color: #ccc;
	}

	49% {
		background-color: #ccc;
	}

	50% {
		background-color: transparent;
	}

	99% {
		background-color: transparent;
	}

	100% {
		background-color: #ccc;
	}
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {

	.flex-container {
		flex-direction: column;
	}
}

.work-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.frame {
	margin: 5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 400px;
	width: 300px;
	position: relative;
	box-shadow:
		-7px -7px 20px 0px #fff9,
		-4px -4px 5px 0px #fff9,
		7px 7px 20px 0px #0002,
		4px 4px 5px 0px #0001,
		inset 0px 0px 0px 0px #fff9,
		inset 0px 0px 0px 0px #0001,
		inset 0px 0px 0px 0px #fff9, inset 0px 0px 0px 0px #0001;
	transition: box-shadow 0.6s cubic-bezier(.79, .21, .06, .81);
	border-radius: 10px;
}

.card-img {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 3;
	width: 100%;
}

.card-title {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	width: 100%;
	color: var(--text-purple);
	font-size: x-large;
}

.card-link-section {
	flex: 1;
	display: flex;
	width: 100%;
	flex-direction: row;
	color: var(--text-pink);
}

.link-demo {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	color: var(--text-pink);
}

.link-read-more {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.blog-container {
	display: flex;
	width: 80%;
	margin: auto;
	height: 80%;
}

.blog-title {
	font-size: 4rem;
	color: var(--text-purple);
}

.resume-container {
	width: 80%;
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2rem;
}

.blog-title {
	margin: auto;
}



/*
*
* Resume Notion CSS
*
*/

.primary-purple-font-color {
	color: var(--text-purple);
}

a,
a.visited {
	color: inherit;
	text-decoration: underline;
}

h1,
h2,
h3 {
	letter-spacing: -0.01em;
	line-height: 1.2;
	font-weight: 600;
	margin-bottom: 0;
}

h1 {
	font-size: 1.875rem;
	margin-top: 1.875rem;
}

h2 {
	font-size: 1.5rem;
	margin-top: 1.5rem;
}

h3 {
	font-size: 1.25rem;
	margin-top: 1.25rem;
}

.indented {
	padding-left: 1.5em;
}

hr {
	background: transparent;
	display: block;
	width: 100%;
	height: 1px;
	visibility: visible;
	border: none;
	border-bottom: 1px solid rgba(55, 53, 47, 0.09);
}

img {
	max-width: 100%;
}

@media only print {
	img {
		max-height: 100vh;
		object-fit: contain;
	}
}

@page {
	margin: 1in;
}

ol,
ul {
	margin: 0;
	margin-block-start: 0.6em;
	margin-block-end: 0.6em;
}

li>ol:first-child,
li>ul:first-child {
	margin-block-start: 0.6em;
}

ul>li {
	list-style: disc;
}

ul.to-do-list {
	text-indent: -1.7em;
}

ul.to-do-list>li {
	list-style: none;
}

ul.toggle>li {
	list-style: none;
}

ul {
	padding-inline-start: 1.7em;
}

ul>li {
	padding-left: 0.1em;
}

ol {
	padding-inline-start: 1.6em;
}

ol>li {
	padding-left: 0.2em;
}

.notion-p {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.sans {
	font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

.serif {
	font-family: Lyon-Text, Georgia, ui-serif, serif;
}

.mono {
	font-family: iawriter-mono, Nitti, Menlo, Courier, monospace;
}

/* Notion CSS over */